{% extends "_includes/default.njk" %}

{% block title %}XMTP{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <h1 class="text-5xl font-extrabold text-white tracking-tight">XMTP</h1>
      <p class="text-gray-400">careers@xmtp.com</p>
    </div>
  </div>
{% endblock %}