{% extends "_includes/default.njk" %}

{% block title %}XMTP{% endblock %}

{% block content %}
  <div class="fixed inset-0 flex justify-center items-center">
    <div>
      <h1 class="text-5xl font-extrabold text-center text-white tracking-tight">XMTP</h1>
      <p class="text-gray-400 text-center"><a class="text-gray-400 underline" href="https://blog.xmtp.com">Blog</a> | <a class="text-gray-400 underline" href="https://careers.xmtp.com" target="_blank">Careers</a> | <a class="text-gray-400 underline" href="https://twitter.com/xmtp_" target="_blank">Twitter</a></p>
    </div>
  </div>
{% endblock %}